<html lang="en">
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'><!--Font: Source Sans Pro-->
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="img/jpg" href="static/logo.jpg">

<title>Commonplace</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% block header %}
    {% endblock header %}
    <link rel="stylesheet" href="static/css/style.css"/>
</head>


<body>
  <nav>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/"><p><i class="fa fa-home icon"></i></p></a></li>
        <li><a href="/rooms"><p><i class="fa fa-bed icon"></i></p></a></li>
        <li><a href="/chores"><p><i class="fa fa-wrench icon"></i></p></a></li>
        <li><a href="/reimbursements"><p><i class="fa fa-usd icon"></i></p></a></li>
        {% if session.logged_in %}
        <li><a href="/logout"><p><i class="fa fa-user icon"></i></p></a></li>
        {% else %}
        <li><a href="/login"><p><i class="fa fa-user icon"></i></p></a></li>
        {% endif %}
      </ul>
    </nav>
  <header>
  <div id="housepoints">
  <p>house points</p>
  <ol>
    <li>Alex: 70</li>
    <li>Joey: 60</li>
    <li>Tyler: 50</li>
    <li>Jason: 50</li>
    <li>Glen: 45</li>
    <li>Daniel: 35</li>
  </ol>
</div>
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
  </header>
    

</body>