<!--Manager Page -->
<html lang="en">
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'><!--Font: Source Sans Pro-->
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--
<link rel="icon" type="img/png" href="img/page-icon.png">
-->
<title>Commonplace</title>

	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css"/>
</head>


<body>
  <nav>
    <ul class="nav nav-pills nav-stacked">
        <li><p><i class="fa fa-home icon"></i></p></li>
        <li><p><i class="fa fa-bed icon"></i></p></li>
        <li><p><i class="fa fa-wrench icon"></i></p></li>
        <li><p><i class="fa fa-usd icon"></i></p></li>
      </ul>
    </nav>
  <header>
    <div class="container">
      <h1 id="title">
        Commonplace: Manager
      </h1>
      
    </div>
  </header>
	

</body>