@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body{
	background-color: white;
	font-family: Source Sans Pro;
	text-align: center;
}

nav{
	color: white;
	background-color: black;
	width: 5em;
	height: 100%;
	position: fixed;
	z-index: 1;
	position: fixed;

}
#title{	
	font-size: 5em;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
#slogan{
	font-style: italic;
}
#gate {
	border-style: solid;
	border-width: 1px;
	height: 400px;
	width: 400px;
	margin: 50px;
	text-align: center;
	background-color: #66CCFF;
	border-radius: 10px;

}

.gatebutton{
	margin: 50px;
}


.icon{
	font-size: 1.5em;
	margin: .3em;
}

.roomdiagram{
	max-height: 500px;
	max-width: 500px;
	border-width: 2px;
	border-style: solid;
	margin: 50px;
}
#housepoints{
	position: absolute;
	right: 0px;
	border-bottom: none;
	border-style: inset;
	border-width: 4px;
	border-right:none;
	margin-top: 50px;
	height: 100%;
	width: 300px;
	border-radius: 5px;
	background-color: #66FFFF;

	
}



li{
	font-style: italic;
	font-size: 1.2em;
	text-align: left;
}